body { padding: 20px;font-family: monospace; margin:10px auto;	text-align:center;	line-height:1.4em;	width:960px;}

h1, h2, h3, h4, h5, h6 {font-size:1.314em;line-height:1em;font-weight:normal;font-style:italic;color:#606060;}
h1 {	font-size:3.0em !important;	}
h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {	text-decoration:none;	display:block;}
a:link, a:visited {color:#2b0a11;}
a:hover {color:#606060;}
a img {border:none;}
header, footer {	margin:10px 0px;}
header { display:block;	position:relative;	text-align:left;}
header h2 {	margin-top:-2px;}
article {text-align:left;overflow:hidden;width: 700px;}
article h1, article h2 {padding-top:30px;padding-bottom:20px;font-style:normal}
article p { line-height: 22px;margin: 10px 0; width: 555px;}
blockquote { margin-left: 120px;	font-style: italic;	text-indent: 0px;	font-size: 14px;	padding:29px;}
sup { vertical-align:super; font-size:10px }
article div.page {margin:10px 0px;text-align: left; 	padding: 5px;padding-bottom:20px;  	/*border-bottom:1px solid grey;   */}
ul.posts { margin-top: 45px; margin-bottom:100px;}

section {float:left;width:100%;border-bottom:3px double #dad2d2;padding:0px 0px 10px;}
section label {	display:block;	font-weight:bold;}
.screen-reader-text {	display:none;}
section h1 {margin-bottom:6px;}
strong {font-weight: 700; !important}
section ul {margin:0px;	padding:0px;list-style:none;border-top:1px solid #dad2d2;}
section li {margin:0px;padding:0px;list-style:none;float:left;width:100%;border-bottom:1px solid #dad2d2;}
section li a:link, section li a:visited {font-family:Georgia, "Times New Roman", Times, serif;font-size:0.714em;letter-spacing:.2em;line-height:normal;text-transform:uppercase;text-decoration:none;padding:3px 0px;float:left;width:100%;}
footer {border-top:3px double black;margin:0px;	padding:50px 0px 0px;text-align:left;display:block;clear:both;	font-family:Georgia, "Times New Roman", Times, serif;	font-size:0.714em;	letter-spacing:.2em;	line-height:normal;	text-transform:uppercase;}
.feeds { margin-left: 857px;margin-top: -26px; }

code{
    margin: 0 2px;
    padding: 0px 5px;
    border: 1px solid #ddd;
    background-color: #f8f8f8;
    border-radius: 3px;
}
pre { margin: 15px 0; }
