body {
	background:#f8efee url(../img/bg.gif) repeat top center;
	font-size:87.5%;
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
	font-weight: 300;
	color:black;
	margin:10px auto;
	text-align:center;
	line-height:1.4em;
	width:960px;
}
input, textarea {
	font-size:1em;
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
	font-weight:300;
	color:#606060;
	padding:6px 3px 5px;
	background:#dad2d2;
	border:1px solid #dad2d2;
}
input:focus, textarea:focus {
	border-color:#606060;
}
h1, h2, h3, h4, h5, h6 {
	font-family:Georgia, "Times New Roman", Times, serif;
	font-size:1.714em;
	line-height:1em;
	font-weight:normal;
	font-style:italic;
	color:#606060;
	margin:10px 0px;
}
h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
	text-decoration:none;
	display:block;
}
a:link, a:visited {
	color:#2b0a11;
}
a:hover {
	color:#606060;
}
a img {
	border:none;
}
header, footer {
	margin:10px 0px;
}
header { display:block;	position:relative;	text-align:left;	border-bottom:3px double black;}
header h2 {	font-size:1em;	margin-top:-2px;}

article {padding:20px;	margin: auto auto;text-align:justify;overflow:hidden;font-size: 14px;width: 500px;text-indent: 20px;font-family: "Times New Roman";}
article h1, article h2 {padding-top:30px;padding-bottom:15px;}
blockquote { margin-left: 250px;	font-style: italic;	text-indent: 0px;	font-size: 14px;	padding:29px;}
sup { vertical-align:super; font-size:10px }
article div.page {
	margin:10px 0px;
	text-align: justify;
  	padding: 5px;   
  	padding-bottom:20px;
  	/*border-bottom:1px solid grey;   */
}
ul.posts { margin-top: 100px; margin-bottom:100px;}
/*
article p:first-of-type {
	float:left;
	padding-right:40px;
	width:310px;
}
article > p {
	
	padding-right:40px;	
	
	border-bottom:4px solid #dad2d2;
	padding-bottom:10px;	
}*/
/*** East Side ***/
aside#right {
	float:right;
	width:220px;
	padding:10px 20px 0px 0px;
	text-align:left;
}
section {
	float:left;
	width:100%;
	border-bottom:3px double #dad2d2;
	padding:0px 0px 10px;
}
section label {
	display:block;
	font-weight:bold;
}
.screen-reader-text {
	display:none;
}
section h1 {
	margin-bottom:6px;
}
section input {
	width:212px;
}
section button {
	margin:10px 0px 0px;
	float:right;
	border:none;
	padding:5px 10px;
	background:#af7a85;
	font-size:1em;
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
	font-weight:300;
	color:#fff;
	cursor:pointer;
}
button:hover {
	background:#606060;
}
section ul {
	margin:0px;
	padding:0px;
	list-style:none;
	border-top:1px solid #dad2d2;
}
section li {
	margin:0px;
	padding:0px;
	list-style:none;
	float:left;
	width:100%;
	border-bottom:1px solid #dad2d2;
}
section li a:link, section li a:visited {
	font-family:Georgia, "Times New Roman", Times, serif;
	font-size:0.714em;
	letter-spacing:.2em;
	line-height:normal;
	text-transform:uppercase;
	text-decoration:none;
	padding:3px 0px;
	float:left;
	width:100%;
}
section table {
	width:100%;
	border-collapse:collapse;
	border-top:1px solid #dad2d2;
	border-right:1px solid #dad2d2;
}
section caption {
	padding:10px 0px;
	color:#606060;
}
section th, section td {
	border-bottom:1px solid #dad2d2;
	border-left:1px solid #dad2d2;
	padding:2px 4px;
	background:#ede4e4;text-align:center;
}
section td {
	text-align:left;
	background:#fff;
}
footer {
	border-top:3px double black;
	margin:0px;
	padding:10px 0px 0px;
	text-align:left;
	display:block;
	clear:both;
	font-family:Georgia, "Times New Roman", Times, serif;
	font-size:0.714em;
	letter-spacing:.2em;
	line-height:normal;
	text-transform:uppercase;
}
