<header>
    <div class="header-top">
        <a href="/" class="site-title">
            <span class="logo-shape"></span>
            {{siteName}}
        </a>
        {{#unless posts}}
        <nav class="main-nav">
            <a href="/posts">Blog</a>
            <a href="/garage">Garage</a>
            <a href="/about">About</a>
        </nav>
        {{/unless}}
    </div>
    {{#if posts}}
    <div class="header-bottom">
        <p class="site-description">
            {{description}}
        </p>
    </div>
    {{/if}}
</header>
