.site-header {
  display: inline-block;
  float: left;
  width: 100%;

  ul {
    margin: 0;
    padding: 0;
    list-style: none;
    line-height: 1.5;
  }
  li {
    display: inline;
    margin-right: 0.4em;
  }
  @media (max-width: 1100px) {
    ul {
      display: inline-block;
      float: left;
      padding-top: $padding-small;
      text-align: left;
      width: 100%;
    }
  }
}
