// call out feature
.call-out {
  @extend %padding-regular;
  display: inline-block;
  width: 100%;
  background: none repeat scroll 0% 0% $header-desc-background-color;
  font-size: 1.2em;
  text-align: center;
  color: $header-desc-text-color;
}
.call-out p:last-child {
  margin-bottom: 0;
}
// post listing
.posts {
  // width: 50%;
  padding-top: 20px;

  header {
    @extend %padding-small;
    
    width: 100%;
    // text-align: center;
    margin-bottom: 0;
    // display: inline-block;
    // background-size: $feature-image-size;
    border-bottom: 1px solid $border-color;
    a:hover {
      @extend %link-hover;
    }
  }
  .post-teaser:hover {
    background: #eee;
  }
  .excerpt {
    font-size: 0.8em;
    color: rgba($text-color, .5);
  }
  .post-title {
    font-size: 1.2em;
    margin-top: 0.1em;
    margin-bottom: 0.5em;
  }
}
// pagination
.pagination .button {
  margin-left: 1em;
}
.pagination {
  padding: 0 $padding-large;
  text-align: center;
}
.skills-list li {
  padding: 20px;
  list-style-type: none;
  progress {
    margin-right: 20px;
  }
}
.skill {
  border-bottom: 1px dotted $link-color;
  cursor: help;
  position: relative;
  text-align: center;
  width: 400px;
  -webkit-transform: translateZ(0); /* webkit flicker fix */

  .tooltip {
    background: #1496bb;
    bottom: 100%;
    color: #fff;
    display: block;
    left: -25px;
    margin-bottom: 15px;
    opacity: 0;
    padding: 20px;
    pointer-events: none;
    position: absolute;
    width: 100%;
    -webkit-transform: translateY(10px);
    -moz-transform: translateY(10px);
    -ms-transform: translateY(10px);
    -o-transform: translateY(10px);
    transform: translateY(10px);
    -webkit-transition: all .25s ease-out;
    -moz-transition: all .25s ease-out;
    -ms-transition: all .25s ease-out;
    -o-transition: all .25s ease-out;
    transition: all .25s ease-out;
    -webkit-box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.28);
    -moz-box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.28);
    -ms-box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.28);
    -o-box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.28);
    box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.28);
  }

  .tooltip:before {
    bottom: -20px;
    content: " ";
    display: block;
    height: 20px;
    left: 0;
    position: absolute;
    width: 100%;
  }

  .tooltip:after {
    border-left: solid transparent 10px;
    border-right: solid transparent 10px;
    border-top: solid #1496bb 10px;
    bottom: -10px;
    content: " ";
    height: 0;
    left: 50%;
    margin-left: -13px;
    position: absolute;
    width: 0;
  }

}

.skill:hover .tooltip {
  opacity: 1;
  pointer-events: auto;
  -webkit-transform: translateY(0px);
  -moz-transform: translateY(0px);
  -ms-transform: translateY(0px);
  -o-transform: translateY(0px);
  transform: translateY(0px);
}
