{{#content "header-title-suffix"}}
<h1 class="site-title-context">
    <span class="site-title-separator">/</span>
    <span class="site-title-context-text">{{page.path}}</span>
</h1>
{{/content}}
<article>
    <div class="content">{{{page.content}}}</div>
</article>
