<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en-us">
<head>
   <meta http-equiv="content-type" content="text/html; charset=utf-8" />
   <title>{{ page.title }}</title>
   <meta name="author" content="unknown exception" />

   <!-- Homepage CSS -->
   <link rel="stylesheet" href="/css/screen.css" type="text/css" media="screen, projection" />

   <!-- Typekit -->
   <script type="text/javascript" src="http://use.typekit.com/jpd0pfm.js"></script>
   <script type="text/javascript">try{Typekit.load();}catch(e){}</script>
</head>
<body>
<header>
    <hgroup>
        <h1><a href="#" title="Grids are neat">potomushto</a></h1>
        <h2>indeed</h2>
    </hgroup>
    <nav>
        <ul>
            <li><a href="#">Home</a></li>
            <li><a href="#">Example 1</a></li>
            <li><a href="#">Example 2</a></li>
            <li><a href="#">Example 3</a></li>
        </ul>
    </nav>
    
</header>

  
  {{ content }}
  
  <footer>
    <div class="contact">
      <p>
        unknown live id at hotmail.com
      </p>
    </div>
    <div class="contact">
      <p>
        <a href="http://github.com/unknownexception">github.com/unknownexception</a><br />
        <a href="http://twitter.com/potomushto/">twitter.com/potomushto</a><br />
      </p>
    </div>    
  </footer>



</body>
</html>