<!DOCTYPE html>
<html>
<head>
   <meta http-equiv="content-type" content="text/html; charset=utf-8" />
   <title> Потому что {{ page.title }} - Веб и снег на берегу реки Обь</title>
   <meta name="author" content="potomushto" />
   <meta name="description" content="Веб и снег на берегу реки Обь" >
   <link rel="stylesheet" media="screen" type="text/css" href="/css/reset.css" />
   <link rel="stylesheet" media="screen" type="text/css" href="/css/style.css" />
   
</head>
<body>
  <header>
      <hgroup>
          <h1><a href="/" >@potomushto</a></h1>
          <h2>#siberia #web #dark</h2>
      </hgroup>   
  </header>

  {{ content }}
    
  <footer>
    <div class="contact">      
      <p>
        &copy; <a href="mailto:dim@potomushto.com">email</a>/<a href="http://twitter.com/potomushto/">twitter</a>
      </p>
    </div>     
  </footer>

    <script type="text/javascript">
        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', 'UA-30314477-1']);
        _gaq.push(['_trackPageview']);		
        (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
        })();
    </script>	
</body>
</html>
