<!DOCTYPE html>
<html>
<head>
   <meta http-equiv="content-type" content="text/html; charset=utf-8" />
   <title>{{ page.title }}</title>
   <meta name="author" content="unknown exception" />
   <link rel="stylesheet" media="screen" type="text/css" href="/css/reset.css" />
   <link rel="stylesheet" media="screen" type="text/css" href="/css/style.css" />
   
</head>
<body>
  <header>
      <hgroup>
          <h1><a href="/" >potomushto</a></h1>
          <h2>Live in Russia, work in IT</h2>
      </hgroup>   
  </header>

  {{ content }}
    
  <footer>
    <div class="contact">
      <p>
        unknown live id at hotmail.com
      </p>
    </div>
    <div class="contact">
      <p>
        <a href="http://github.com/unknownexception">github.com/unknownexception</a><br />
        <a href="http://twitter.com/potomushto/">twitter.com/potomushto</a><br />
      </p>
    </div>    
  </footer>

</body>
</html>